.launchers {
 font-weight: bold;
 border:solid 5px blue ;
 margin: 25px;
 margin-left: 5px;
 margin-right: 25px;
 padding: 25px;
 text-align: center;
 }
 body {
  background-color: lightGreen;
 }
 h1 {
  border: solid 5px blue;
 }
